modules = ["web", "nodejs-20", "python-3.11"]
run = "python3 MyProject-3/app.py"

[nix]
channel = "stable-25_05"
packages = ["c-ares", "cacert", "freetype", "glibcLocales", "grpc", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "tcl", "tk", "zip", "zlib"]

[deployment]
run = ["sh", "-c", "python3 MyProject-3/app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd myproject3 && python3 app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
integrations = ["python_gemini_ai_integrations:1.0.0"]

[userenv]

[userenv.shared]
GEMINI_API_KEY = "AIzaSyBbXyMCNQQNCoeyxjG1Rt9AFBsa-Jg40sU"

