modules = ["python-3.11"]
run = "node index.js"

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "libxcrypt", "zip"]

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = 46639938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
